.content-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

app-sidebar {
  display: block;
  width: 250px; 
  height: 100%;
  flex-shrink: 0; 
} 

@media (max-width: 1200px) {
  app-sidebar {
    display: none;
  }
}
