<div class="filter-container">
  <div class="selected-filter" (click)="toggleDropdown()">
    <div>{{ getLabel(filter) }}</div>
    <svg rpl="" fill="currentColor" height="16" icon-name="caret-down-outline" viewBox="0 0 20 20" width="16" xmlns="http://www.w3.org/2000/svg"> <!--?lit$46659499$--><!--?lit$46659499$--><path d="M10 13.02a.755.755 0 0 1-.53-.22L4.912 8.242A.771.771 0 0 1 4.93 7.2a.771.771 0 0 1 1.042-.018L10 11.209l4.028-4.027a.771.771 0 0 1 1.042.018.771.771 0 0 1 .018 1.042L10.53 12.8a.754.754 0 0 1-.53.22Z"></path><!--?--> </svg>
  </div>
  <div class="dropdown" [class.active]="isDropdownOpen" *ngIf="isDropdownOpen">
    <ul>
      <li *ngFor="let option of filterOptions" class="list-object" (click)="selectFilter(option)">
        {{ getLabel(option) }}
      </li>
    </ul>
  </div>
</div>

<div *ngFor="let post of posts" class="post-container" (click)="viewDetails($event, post.id)">
    <div class="post-subreddit">Uploaded to r/{{ post.subredditName }}</div>
    <div class="post">
        <img *ngIf="post.file" [src]="'data:image/png;base64,' + post.file" alt="Post Image" class="post-image" />
        <div class="post-right-side">
            <div class="post-user-container">
                <img src="../../../assets/icons/avatar_default_1.png" alt="Profile" class="post-profile-image">
                <div class="post-user">u/{{ post.username }} • {{ post.createdAt | timeAgo }}</div>
            </div>
            <div class="post-title">{{ post.title }}</div>
            <div class="votes" data-no-navigate>Upvotes: {{ post.upvotes }} | Downvotes: {{ post.downvotes }}</div>
        </div>
    </div>
</div>  
<div class="spinner-container">
    <mat-spinner [diameter]="50" *ngIf="isLoading"></mat-spinner> 
</div>
<div *ngIf="lastPage && !isLoading" class="no-more-posts">
  You've reached the end.
</div>


