header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--color-caution-onBackground);
  border-bottom: 1px solid var(--color-caution-onBackground);
  height: 23px;
}

.logo-image {
  height: 130px;
}

.profile-image {
  border-radius: 50%;
  height: 33px;

}

.add-outline-icon {
  fill: var(--ui-text-dark);
  width: 20px;
}

.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.search-bar-container {
  width: 36%;
  position: relative;
  display: flex;
  align-items: center;
}

.search-bar {
  width: 100%;
  padding: 8px 12px 5px 45px;
  border-radius: 25px;
  height: 27px;
  color: var(--color-caution-background);
  font-size: 15px;
}

.search-icon {
  position: absolute;
  left: 20px;
  pointer-events: none;
  width: 16px;
  height: 16px;
  fill: var(--ui-text-dark);
}


.dropdown {
  position: absolute;
  top: 57px;
  right: 0;
  width: 200px;
  background-color: var(--color-neutral-background-container);
  color: var(--muted-text-dark);
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 13px;
  
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  
  transition: 
    opacity 0.3s ease,
    visibility 0.3s ease,
    transform 0.3s ease;
}

.dropdown.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 4px;
  display: inline-block;
}

.dropdown .list-object:hover {
  
  color: var(--ui-text-dark); /* Consider using a hover variant if available */
}

.list-object {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.li-svg {
  height: max-content;
  margin-left: 15px;
}
  